HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
**/src/main/**/target/
**/src/test/**/target/

### STS ###
.apt_generated
.factorypath
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.classpath
.project
.settings/

### Package Files ###
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

!jdk/jdk-8u172-linux-x64.tar.gz

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
**/src/main/**/build/
**/src/test/**/build/

### VS Code ###
.vscode/

### Other ####
FFDC/
mqjms.*
log/
logs
logs/*
*.log
*.log.*
!ceph-lib-app-1.0.0-jar-with-dependencies.jar
/LOG_PATH_IS_UNDEFINED/
